@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

ul li {
    list-style: none;
}


img {
    width: 100%;
    height: auto;
}


body {
    background-color: #fff;
    font-family: 'Inter', sans-serif;
}

main {
    /* margin : auto 20%; */
}

nav {
    background-color: #003860;
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    align-items: center;

}

li {
    margin: 0 30px; 
}

.Bold {
    font-weight: bold;
}

.btn {
    padding: 10px 20px;
    background-color: red;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    border: 0;
    font-family: 'Inter', sans-serif;
}

.opacity {
    opacity: 0.5;
}

.logo {
  width: 150px;
  margin-right: 3rem;
}

.Hero {
    background-color: #003860;
    height: 40rem;
    width: 100%;
    display: flex;
    
}

.Social-links {
    display: flex;
    flex-direction: row;
    width: 120px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 20%;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
    padding: 0;
}

.top {
    font-size: 20px;
    color: #fff;
    width: 42ch;
}

.bottom {
    font-size: 15px;
    color: #fff;
    width: 42ch;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.5;
}

.btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #003860;
}

.right {
    width: 40%;
    margin-bottom: 6rem;
}

.left {
    margin-top: 6rem;
}



.btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #003860;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: auto 20%;
    margin-top: 2rem;
}

.minimize {
    width: 30%;
}